<% content_for :browser_title, title_with_error_prefix('Conditions of offer', @make_offer_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(provider_interface_application_choice_respond_path(@application_choice.id)) %>

<%= render(FlashMessageComponent.new(flash: flash)) %>

<%= form_with model: @make_offer_form, url: provider_interface_application_choice_confirm_offer_path(@application_choice.id), method: :post do |f| %>
  <%= f.govuk_error_summary %>

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl"><%= @application_choice.application_form.full_name %></span>
    Conditions of offer
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_collection_check_boxes(
            :standard_conditions,
            @make_offer_form.standard_conditions_checkboxes,
            :id,
            :name,
            legend: { text: 'Standard conditions', size: 'm', tag: 'h2' },
      ) %>

      <%= f.hidden_field :course_option_id %>

      <%= f.govuk_fieldset legend: { text: 'Further conditions (optional)', size: 'm' } do %>
        <p class="govuk-body">Outline any further conditions (for example, studying a subject knowledge enhancement course) and give deadlines for completing them.</p>
          <%= f.fields_for :further_conditions do |fc| %>
            <%= fc.hidden_field :id %>
            <%= fc.govuk_text_area :condition_text %>
          <% end %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>

      <p class="govuk-body">
        <%= govuk_link_to 'Cancel', provider_interface_application_choice_path(@application_choice.id), class: 'govuk-link--no-visited-state' %>
      </p>
    </div>
  </div>
<% end %>
